<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>GPTFlask</title>
</head>
<body>
    <script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous">
    </script>
    <script>
        var response_history = [];
        var image_data=""
        var selectedModel = "";

        $(document).ready(function() {
            console.log("Document ready!")
            // Listen for changes on the model select box
            $('#model').on('change', function() {
                console.log("Model box changed")
                selectedModel = $(this).val();

                // Check if the selected model is 'gpt-3.5-turbo'
                if (selectedModel === 'dall-e-3') {
                    // Hide the system-prompt select box
                    $('#persona').hide();
                } else {
                    // Otherwise, show the system-prompt select box
                    $('#persona').show();
                }
            }).trigger('change');
        });
    </script>
    <script type="text/javascript">
        function readURL(input, form) {
            var reader = new FileReader();
            reader.onload = function (e) {
                console.log("Read file");
                //$('#falseinput').attr('src', e.target.result);
                //$('#image-data').val(e.target.result);
                image_data = e.target.result;
                console.log(image_data)
                runAjax(form)
            };
            reader.readAsDataURL(input);
        }

        function updateConversationHTML() {
            var htmltext = ""
            for (const dict of response_history) {
                        console.log(dict)
                        console.log(dict.content)
                        let htmlHead = `<div class="${dict.role}_response response">`;
                        let htmlFoot = '</div>'
                        if ($("#system-prompt").val() === "6") {
                            htmlContent = marked.parse(dict.content)
                        } else {
                            htmlContent = dict.content.replace("```html", "").replace("```", "")
                        }
                        htmltext = htmltext + htmlHead + htmlContent + htmlFoot;
                    }
                    console.log("HTML Text:")
                    console.log(htmltext)
                    $("#response").html(htmltext);
        }

        function runAjax(form) {
            var formData = new FormData($('#gptForm')[0]);
            var formObject = Object.fromEntries(formData)
            let userContent = $("#prompt").val();
            let userDict = {role: "user", content: userContent};
            response_history.push(userDict);
            formData.append("responseHistory", response_history);
            console.log("appending image data")
            formData.append("imageData", image_data);
            formObject.responseHistory = response_history
            formObject.imageData = image_data
            /*
            for (var [key, value] of formData.entries()) { 
            console.log(key, value);
            }
            */
            var formJSON = JSON.stringify(formObject);
            console.log(formJSON)
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                processData: false,
                dataType: 'json',
                data:formJSON,
                contentType: 'application/json',
                success: function(response) {
                    $('#spinner').hide();
                    $('#prompt').val('');
                    console.log("Initial response history:")
                    console.log(response_history)
                    var htmltext = ""
                    let responseDict = {role: "assistant", content: response.choices[0].message.content}
                    response_history.push(responseDict)
                    console.log("Updated response history:")
                    console.log(response_history)
                    console.log("Response from server:")
                    console.log(response)
                    for (const dict of response_history) {
                        console.log(dict)
                        console.log(dict.content)
                        let htmlHead = `<div class="${dict.role}_response response">`;
                        let htmlFoot = '</div>'
                        if ($("#system-prompt").val() === "6") {
                            htmlContent = marked.parse(dict.content)
                        } else {
                            htmlContent = dict.content.replace("```html", "").replace("```", "")
                        }
                        htmltext = htmltext + htmlHead + htmlContent + htmlFoot;
                    }
                    console.log("HTML Text:")
                    console.log(htmltext)
                    $("#response").html(htmltext);
                    if (response_history.length > 0) {
                        $("#system-prompt").css({"pointer-events": "none", "touch-action": "none", "background": "#ede6e6"});
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Error handling
                    console.log("Error fetching data: " + textStatus + ": " + errorThrown + ": " + xhr);
                    $('#spinner').hide();
                }
            });
        }

        function runImageAjax(form) {
            var formData = new FormData($('#gptForm')[0]);
            var formObject = Object.fromEntries(formData)
            let userContent = $("#prompt").val();
            let userDict = {role: "user", content: userContent};
            response_history.push(userDict);
            formData.append("responseHistory", response_history);
            formData.append("imageData", image_data);
            formData.append("imagePrompt", userContent);
            formObject.responseHistory = response_history
            formObject.imageData = image_data
            formObject.imagePrompt = userContent
            var formJSON = JSON.stringify(formObject);
            console.log(formJSON)
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                processData: false,
                dataType: 'json',
                data:formJSON,
                contentType: 'application/json',
                success: function(response) {
                    $('#spinner').hide();
                    console.log("Initial response history:")
                    console.log(response_history)
                    let imageURL = response.data[0].url
                    var htmltext = `<img src='${imageURL}'>`
                    console.log("HTML Text:")
                    console.log(htmltext)
                    $("#response").html(htmltext);
                    if (response_history.length > 0) {
                        $("#system-prompt").css({"pointer-events": "none", "touch-action": "none", "background": "#ede6e6"});
                        $("#model").css({"pointer-events": "none", "touch-action": "none", "background": "#ede6e6"});
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Error handling
                    console.log("Error fetching data: " + textStatus + ": " + errorThrown + ": " + xhr);
                    $('#spinner').hide();
                }
            });
        }

        function populateHistory(id) {
            $.ajax({
                type: 'POST',
                url: '/history/id/' + id,
                dataType: 'json',
                contentType: 'application/json',
                success: function(response) {
                    console.log("SUCCESSFULLY GRABBED HISTORY")
                    let conversation_json = response.conversation
                    let conversation = JSON.parse(conversation_json)
                    $("#model").val(conversation.model).change()
                    $("#model").css({"pointer-events": "none", "touch-action": "none", "background": "#ede6e6"});
                    $("#system-prompt").val(conversation["system-prompt"]).change()
                    $("#system-prompt").css({"pointer-events": "none", "touch-action": "none", "background": "#ede6e6"});
                    console.log(conversation)
                    response_history = conversation.responseHistory
                    updateConversationHTML()
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("ERROR GRABBING HISTORY: " + textStatus + ": " + errorThrown + ": " + xhr)
                }
            });
        }
        function saveConversation() {
            var formData = new FormData($('#gptForm')[0]);
            var formObject = Object.fromEntries(formData)
            formData.append("responseHistory", response_history);
            formObject.responseHistory = response_history;
            //console.log("Here is the form data for saving the conversation:")
            //console.log(formObject)
            var formJSON = JSON.stringify(formObject);
            //console.log("Here is the JSON data for saving the conversation:")
            //console.log(formJSON)
            $.ajax({
                type: 'POST',
                url: '/add_conversation',
                processData: false,
                dataType: 'json',
                data:formJSON,
                contentType: 'application/json',
                success: function(response) {
                    $('#savedModal').modal('show')
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Error handling
                    console.log("Error saving conversation: " + textStatus + ": " + errorThrown + ": " + xhr);
                }
            });
        }
        

        function reloadPage(event) {
            event.preventDefault();
            location.reload();
        }
    </script>
    <div class="container-fluid min-vh-100 d-flex flex-column">
        <div class="row flex-grow-1">
            <div class="col-md-3 bg-dark text-light p-3">
                <img class="mb-4" src="{{ url_for('static', filename='images/snowgoose-logo-horizantal-white-60h.png') }}">
                <form id="gptForm" action="/get_response" method="post" enctype=multipart/form-data>
                    <div class="mb-3">
                        <label for="model">Model</label><br>
                        <select id="model" name="model" class="model-select form-control" aria-label="Open AI Model">
                            <option selected value="gpt-4-1106-preview">GPT4 Turbo</option>
                            <option value="gpt-4">GPT 4 Classic</option>
                            <option value="gpt-3.5-turbo">GPT 3.5 Turbo</option>
                            <option value="dall-e-3">DALL-E 3</option>
                        </select>
                    </div>
                    <div id="persona" class="mb-3">
                        <label for="system-prompt">Select a persona for GPT</label><br>
                        <select id="system-prompt" name="system-prompt" class="system-prompt-select form-control" aria-label="System persona">
                            <option selected value="1">General</option>
                            <option value="2">Scientist</option>
                            <option value="3">Editor & Literary Critic</option>
                            <option value="4">Copywriter</option>
                            <option value="5">Idea Generator/Brainstorm</option>
                            <option value="6">Coder</option>
                            <option value="7">Email Composer</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="prompt">Enter your prompt:</label><br>
                        <textarea class="form-control" id="prompt" name="prompt" rows="4"></textarea><br>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">Image</label>
                        <input class="form-control" type="file" id="file">
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
                <div class="btn-group-vertical" role="group">
                        <button type="button" class="btn btn-light" onclick="reloadPage(event)">
                            New Conversation
                        </button>
                        <button type="button" class="btn btn-light" onclick="saveConversation()">
                            Save Conversation
                        </button>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#historyModal">
                            History
                        </button>
                    {% if current_user.is_authenticated %}
                        <a href="/logout" class="btn btn-light">
                            Logout
                        </a>
                    {% endif %}
                </div>
                    <script>
                        $("#gptForm").submit(function(event) {
                            event.preventDefault();
                            $('#spinner').show();
                            var form = $(this);
                            if (selectedModel === 'dall-e-3') {
                                console.log("Asked to generate an image")
                                runImageAjax(form)
                            }
                            else if ($("#file")[0].files[0]) {
                                console.log("There are files")
                                readURL($("#file")[0].files[0], form);
                            } else {
                                console.log("NO FILES")
                                runAjax(form)
                            }
                        });
                    </script>
                </div>
                <div class="col-md-9 p-3">
                    <div class="card">
                        <div class="card-body">
                            <p id="response" class="card-text"></p>
                            <div id="spinner" class="spinner-border text-secondary" role="status" style="display: none;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <div class="modal fade" id="savedModal" tabindex="-1" aria-labelledby="savedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savedModalLabel">Conversation Saved</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                The conversation has been saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyModalLabel">Previous Conversations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    {% for entry in history %}
                      <a href="#" class="list-group-item list-group-item-action" onclick="populateHistory('{{ entry.id }}')">
                        <strong>{{ entry.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</strong>
                        <p>{{ entry.title | safe }}</p>
                      </a>
                    {% else %}
                      <li class="list-group-item">No conversation history found.</li>
                    {% endfor %}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
